In [1]:
#Q1. Create one variable containing following type of data:

In [2]:
a = "vijayshah",(1,2,3),22.5,[11,22,33]

In [3]:
a

('vijayshah', (1, 2, 3), 22.5, [11, 22, 33])

In [4]:
#Q2. Given are some following variables containing data:

#(i) var1 = ' '
#(ii) var2 = '[ DS , ML , Python]'
#(iii) var3 = [ 'DS' , 'ML' , 'Python' ]
#(iv) var4 = 1.

In [5]:
var1=''

In [6]:
type(var1)

str

In [8]:
var2='[ DS , ML , Python]'

In [9]:
type(var2)

str

In [13]:
var3= [ 'DS' , 'ML' , 'Python' ]

In [14]:
type(var3)

list

In [12]:
var4 = 1.

In [15]:
type(var4)

float

In [17]:
#Q3. Explain the use of the following operators using an example:

#(i) /
#(ii) %
#(iii) //
#(iv) **

In [27]:
a = 5
b = 2

a / b
5 / 2 #this operator use for division

2.5

In [24]:
a % b
5 % 2  #this operator returns remainder value

1

In [25]:
a // b
5 // 2 #this operator remove decimal from float value result

2

In [26]:
a**b 
5 ** 2 #this operator use for 5 ki power 2

25

In [ ]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [28]:
df= [11,12,13,"vijay", True, 22.5, [1,2,3], (4, 5, 6), 1 + 2j,"shah"]
for i in df:
    print((i),type(i))

11 <class 'int'>
12 <class 'int'>
13 <class 'int'>
vijay <class 'str'>
True <class 'bool'>
22.5 <class 'float'>
[1, 2, 3] <class 'list'>
(4, 5, 6) <class 'tuple'>
(1+2j) <class 'complex'>
shah <class 'str'>

In [31]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not

In [34]:
df1 = [9,10,12,13,15,17,18,20,21,24,25,27,29,30,3,31,3,32,6,35,36,38,39,40,43]
for i in df1:
    if i % 3 == 0:
        print("this number is divisible by 3")
    else:
        print("this number is not divisble by 3")

this number is divisible by 3
this number is not divisble by 3
this number is divisible by 3
this number is not divisble by 3
this number is divisible by 3
this number is not divisble by 3
this number is divisible by 3
this number is not divisble by 3
this number is divisible by 3
this number is divisible by 3
this number is not divisble by 3
this number is divisible by 3
this number is not divisble by 3
this number is divisible by 3
this number is divisible by 3
this number is not divisble by 3
this number is divisible by 3
this number is not divisble by 3
this number is divisible by 3
this number is not divisble by 3
this number is divisible by 3
this number is not divisble by 3
this number is divisible by 3
this number is not divisble by 3
this number is not divisble by 3

In [ ]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property

In [1]:
c= [1,2,3,4,5,6] #mutable data types are where values can be changed after they are created through index

In [2]:
c[2] = 99

In [3]:
c #here you can see we replace the index number 2 value with 99 int so it is called mutable data type

[1, 2, 99, 4, 5, 6]

In [4]:
d = (1,2,3,4,55,66,99) #tuple is immutable data type if i have to change 99 int with 11 then you cant change through index because its a tuple

In [5]:
d[-1] = 11

TypeError: 'tuple' object does not support item assignment

In [8]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [24]:
t = 50
t1 = 5
count = 0
while t % t1 == 0:
    t = t / t1
    count += 1
    
if count > 0:
    print("t is divisible by t1.(count) times. ")
else:
    print("t is not divisible by t1 ")

t is divisible by t1.(count) times.

In [25]:
# i cant able to do question number 5